.rank_us_box {
  margin-bottom: 2*$base_gap;
  h3,
  p {
    margin: $base-gap/2 0
  }
  h3:first-child {
    color: $base_blue; //font-weight: normal;
    font-size: 12px;
    letter-spacing: 0px;
  }
  p:nth-child(2) {
    font-size: 1.4rem;
  }
  ._scroll {
    display: flex;
    margin-left: -6vw;
    margin-right: -6vw;
    padding-left: 6vw; //width: 100vw; 
    overflow: scroll;
  }
  ._item {
    display: inline-block;
    margin-right: $base-gap;
  }
  ._wrapper {
    width: 250px;
    height: 350px;
    border-radius: $base_radius;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.rank_block_header {
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: $base_gap 0 $base_gap/2;
  button {
    padding: 0 5px;
    color: $base_blue;
    background: transparent;
    border-radius: $base_radius;
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
    &:active,
    &:visited {
      color: $font_grey;
    } //-webkit-tap-highlight-color: rgba(150, 150, 155, 0.5);
  }
}

.rank_new_movies {
  margin-bottom: 2*$base_gap;
  ._wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    overflow: scroll;
    margin-left: -6vw;
    margin-right: -6vw;
    padding-left: 6vw;
    max-height: 400px; //width: 100vw;
    .movie_list_item_wrapper {
      display: inline-block;
      width: calc(100vw - 20vw);
      margin-right: 4vw;
    }
    .movie_list_item_wrapper:nth-child(2n) {
      ._divider {
        border-bottom: none;
      }
    }
    .movie_list_item_wrapper:last-child {
      padding-right: 4vw;
    }
    section:last-child {
      ._divider {
        border-bottom: none;
      }
    }
  }
}

.rank_coming_soon {
  margin-bottom: 2*$base_gap;
  .movie_list_item_wrapper:nth-child(2n) {
    ._divider {
      border-bottom: none;
    }
  }
  .movie_list_item_wrapper:last-child {
    padding-right: 4vw;
  }
  .movie_list_item_wrapper {
    display: inline-block;
    width: calc(100vw - 16vw);
  }
  ._scroll {
    //margin: 0 0 0 -6vw; //will-change: transform;
    //transform: translateZ(0);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 6vw;
    margin-left: -6vw;
    margin-right: -6vw;
    max-height: 400px; //width: 600%;
    //width: 100vw;
    overflow: scroll;
  }
  ._item {
    display: inline-block;
  }
}