.rank_us_box {
  margin-bottom: 2*$base_gap;
  h3,
  p {
    margin: $base-gap/2 0
  }
  h3:first-child {
    color: $base_blue; //font-weight: normal;
    font-size: 12px;
    letter-spacing: 0px;
  }
  p:nth-child(2) {
    font-size: 1.4rem;
  }
  ._scroll_wrapper {
    position: relative; // overflow-x: auto;
    // overflow-y: hidden;
    width: 100vw;
    margin: 0 0 0 -6vw;
    transform: translateY(0.3rem); //margin-top: -.3rem;
    padding-bottom: .3rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    ._scroll {
      //margin: 0 0 0 -6vw; //will-change: transform;
      //transform: translateZ(0);
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 600%;
    }
    ._item {
      display: inline-block;
    }
    ._wrapper {
      margin: 0 10px;
      width: 250px;
      height: 350px;
      border-radius: $base_radius;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.rank_block_header {
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: $base_gap 0 $base_gap/2;
  button {
    padding: 0 5px;
    color: $base_blue;
    background: transparent;
    border-radius: $base_radius;
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
    &:active,
    &:visited {
      color: $font_grey;
    } //-webkit-tap-highlight-color: rgba(150, 150, 155, 0.5);
  }
}

.rank_new_movies {
  margin-bottom: 2*$base_gap;
  ._wrapper {
    section:last-child {
      ._divider {
        border-bottom: none;
      }
    }
  }
}

.rank_coming_soon {
  margin-bottom: 2*$base_gap;
  .movie_list_item_wrapper:nth-child(2n) {
    ._divider {
      border-bottom: none;
    }
  }
  .movie_list_item_wrapper:nth-child(2n) {
    padding-right: 6vw;
  }
  .movie_list_item_wrapper {
    display: inline-block;
    width: calc(100vw - 12vw);
  }
  ._scroll_wrapper {
    position: relative; // overflow-x: auto;
    // overflow-y: hidden;
    width: 100vw;
    margin: 0 0 0 -6vw;
    transform: translateY(0.3rem); //margin-top: -.3rem;
    padding-bottom: .3rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    ._scroll {
      //margin: 0 0 0 -6vw; //will-change: transform;
      //transform: translateZ(0);
      padding-left: 6vw;
      position: relative;
      top: 0;
      left: 0;
      max-height: 400px; //width: 600%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    ._item {
      display: inline-block;
    }
  }
}