$font_grey:#96969b;
$base_blue:#3478f6;
$base_gap:15px;
$base_radius:10px;
$button_color:#f0f0f6;
$menu_bar_height:55px;
@import "./normalize.css";
@import "menu-bar.scss";
@import "home-page.scss";
@import "header-one.scss";
* {
  //font-family: '黑体';
  letter-spacing: 1px;
}

h1,
h2,
p {
  margin: $base-gap 0;
}

h1,
h2 {
  letter-spacing: 2px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.button_cls1 {
  min-width: 100%;
  max-width: 100%;
  margin: $base_gap/2 0;
  border-radius: $base_radius;
  padding: $base_gap 0;
  background-color: $button_color;
  color: $base_blue;
  font-weight: bold;
  letter-spacing: 2px;
}

.app {}

.base_wrapper {
  position: static;
  padding-bottom: $menu_bar_height;
}

.content {
  padding: 6vw 6vw 0; //background: linear-gradient(#ffffff, #f7f7f7);
}