$font_grey:#96969b;
$base_blue:#3478f6;
$base_gap:15px;
$base_radius:10px;
$button_color:#f0f0f6;
$menu_bar_height:55px;
@import "./normalize.css";
@import "menu-bar.scss";
@import "home-page.scss";
@import "header-one.scss";
* {
  //font-family: '黑体';
  letter-spacing: 1px;
}

h1,
h2,
p {
  margin: $base-gap 0;
}

h1,
h2 {
  letter-spacing: 2px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.button_cls1 {
  min-width: 100%;
  max-width: 100%;
  margin: $base_gap/2 0;
  border-radius: $base_radius;
  padding: $base_gap 0;
  background-color: $button_color;
  color: $base_blue;
  font-weight: bold;
  letter-spacing: 2px;
}

.app {
  position: relative;
}

.base_wrapper {
  position: static;
  padding-bottom: $menu_bar_height;
}

.content {
  padding: 6vw 6vw 0; //background: linear-gradient(#ffffff, #f7f7f7);
}

.divide {
  border-top: 0.5px solid $font_grey;
}

.rank {
  &_coming_soon {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    margin: 0 0 0 -6vw;
    transform: translateY(0.3rem);
    margin-top: -.3rem;
    padding-bottom: .3rem; //overflow: scroll; 
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: none;
    ._scroll {
      //will-change: transform;
      //transform: translateZ(0);
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 600%;
    }
    ._item {
      display: inline-block;
    }
    ._wrapper {
      margin: 0 10px;
      width: 250px;
      height: 350px;
      border-radius: $base_radius;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}