.header_return {
  span {
    position: relative;
    letter-spacing: 2px;
    color: $base_blue;
    font-size: 1.2rem;

    &::before {
      content: '';
      position: relative;
      width: 1em;
      top: 2px;
      height: 1em;
      display: inline-block;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url(../src/assets/iconfont/back.svg)
    }
  }
}